{% extends 'base.html' %}
{% from "macro/formhelpers.html" import render_field %}

{% block title %}
    Login page
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-danger" role="alert">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<form method="POST">
  {{ form.csrf_token }}
      {% for field in ['email', 'password'] %}
          {{ render_field(form[field]) }}
      {% endfor %}
  {{ form.submit(class="btn btn-primary mb-3") }}
</form>



    
{% endblock %}